<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<% if @user.beer_clubs.empty? %>
<p>is not a member of any beer club</p>
<%else%>
<ul>Is a member of: 
 <% @user.beer_clubs.each do |club| %>
   <li> <%= link_to club.name, club %></li>
 <% end %>
</ul>
<% end %>

<% if @user.ratings.empty? %>
This user hasn't rated any beers!
<% else %>
This user has made <%= pluralize(@user.ratings.count, 'rating')%>.
 <br/>Average rating:
 <%= @user.average_rating %>
<br/>Favorite beer:
<%= @user.favorite_beer %>
<br/>Favorite brewery:
<%= @user.favorite_brewery %>
<br/>Favorite style:
<%= @user.favorite_style %>
<% end %>

<br/>Ratings:<br/>
 <% @user.ratings.each do |rating| %>
   <li> <%= rating %> 
<% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %></li> 
<% end %>
<br/>
<% if current_user == @user %> 
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>
<%= link_to 'Back', users_path %>

