<p id="notice"><%= notice %></p>

  <h2><%= @brewery.name %></h2>
	<em>Established in <%= @brewery.year %></em>

<p><strong>Number of beers:</strong><%= @brewery.beers.count %></p>

<strong>Beers:</strong><br/>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %><br/>
 <% end %>

<br/>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
